


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
    

}

html,body{
    height: 100%;
    width: 100%;
  
}

#page1,#page2,#page3{
    background-color: #111;
    height: 100vh;
    width: 100%;
    padding: 5vw 0;

}

#move{
    background-color: #d8ff04;
    padding:3vw 0;
    display: flex;
    overflow: hidden;

}

#marque{
    flex-shrink: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0 2vw;
    transform: translateX(-100%);
}

#marque img{
    height: 4vw;
}

#marque h1{
    font-size: 4vw;
    font-family: Neue Montreal;
    font-weight: 300;
}