*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

html,body{
    height: 100%;
    width: 100%;
  
}
body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width:100%;
    /* background-color: red; */
    background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}

#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.557);
    position: absolute;
    top: 0%;
    right: -25%;
    backdrop-filter: blur(10px);
    padding: 150px 50px;
}

#full h4{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

#full h2{
    position: absolute;
    top: 4%;
    right: 50%;
    font-size: 30px;
    font-weight: 500;
}

#full i{
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 500;
    padding: 2px;
    cursor: pointer;

}
